@model AuthSystem.Models.Guest
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager
@inject AuthDbContext Context

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = Context.Users.FirstOrDefault(x => x.Id == Model.ApplicationUserId);
}

<h1>Details</h1>

<div>
    <h4>Guest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => user.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => user.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => user.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => user.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => user.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => user.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentText)
        </dd>
    </dl>
</div>
<div>
    @if (UserManager.GetUserId(User) == Model.ApplicationUserId)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <text>|</text>
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> <text>|</text>
    }
    <a asp-action="Index">Back to List</a>
</div>
